<h2 class="header-h2"> {{'MENU_ITEM_ADD_NEW_CAR' | translate}}</h2>
<form name="carForm" novalidate>
	<fieldset>
		<div class="row">
			<div class="input-group">
				<span class="input-group-addon">{{'COMMON_CAR_MODEL' | translate}}</span>
				<input type="text" class="form-control" ng-model="car.model" required>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">{{'COMMON_CAR_YEAR' | translate}}</span>
				<input type="text" class="form-control" ng-model="car.year" ng-pattern="/^\d{4}$/" required>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">{{'COMMON_CAR_COLOR' | translate}}</span>
				<input type="text" class="form-control" ng-model="car.color" required>
			</div>
			<br>
			<button class="btn button-default pull-right" ng-click="saveCar()" ng-disabled="!carForm.$valid">{{'BUTTON_SAVE' | translate}}</button>
		</div>
	</fieldset>
</form>