<h2 class="header-h2"> {{'MENU_ITEM_ADD_NEW_COST' | translate}}</h2>
<div class="row">
    <div class="col-md-12">
        <div class="col-sm-3" style="padding-left: 0;">
            <label>{{'COMMON_COST_TYPE' | translate}}</label>
            <ui-select ng-model="type.costType">
                <ui-select-match>
                    {{$select.selected.type | translate}}
                </ui-select-match>
                <ui-select-choices repeat="item in objectTypes">
                    <span>{{item.type | translate}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<br>
<div class="row" ng-if="type.costType.value == 'GENERAL' || type.costType.value == 'TECHREVIEW' || type.costType.value == 'OPERATING'">
    <div class="col-md-12">
        <div class="input-group">
            <p class="input-group">
                <span class="input-group-addon">{{'COMMON_DATE' | translate}}</span>
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="operatingCost.date" is-open="state.open" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false"/>
                <span class="input-group-btn">
                    <button type="button" class="btn button-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="input-group">
            <span class="input-group-addon">{{'COMMON_ODOMETER' | translate}}</span>
            <input type="number" class="form-control" min="1" step="1000" class="currency" ng-model="operatingCost.odometer">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">{{'COMMON_DESCRIPTION' | translate}}</span>
            <input type="text" class="form-control" maxlength="200" ng-model="operatingCost.description">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">{{'COMMON_TOTAL_COST' | translate}} [zł]</span>
            <input type="number" class="form-control" min="1" step="50" ng-model="operatingCost.total_cost">
        </div>
        <br>
        <button class="btn button-default pull-right" ng-click="saveOperatingCost()">{{'BUTTON_SAVE' | translate}}</button>
    </div>
</div>
<div class="row" ng-if="type.costType.value == 'INSURANCE'">

</div>