<h2 class="header-h2"> {{'MENU_ITEM_ADD_NEW_CAR' | translate}}</h2>

<div class="main-content__outline">
    <div class="input-group">
		<span class="input-group-addon" id="basic-addon1">{{'COMMON_CAR_MODEL' | translate}}</span>
		<input type="text" class="form-control" ng-model="car.model" ng-disabled="true">
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">{{'COMMON_CAR_YEAR' | translate}}</span>
		<input type="text" class="form-control" ng-model="car.year">
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">{{'COMMON_CAR_COLOR' | translate}}</span>
		<input type="text" class="form-control" ng-model="car.color">
	</div>
	<br>
	<button class="btn button-default pull-right" ng-click="saveCar()">{{'BUTTON_SAVE' | translate}}</button>
</div>