<div class="main-content__outline">
	<button class="btn button-default pull-right" ng-click="addNewCar()">{{'BUTTON_NEW_CAR' | translate}}</button>
	<table class="table">
		<thead>
		  <tr>
			<th>{{'TABLE_HEADER_CAR_MODEL' | translate}}</th>
			<th>{{'TABLE_HEADER_CAR_YEAR' | translate}}</th>
			<th>{{'TABLE_HEADER_CAR_COLOR' | translate}}</th>
            <th>&nbsp;</th>
          </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="car in userCars track by $index">
			<td>
				{{car.model}}
            </td>
            <td>
                {{car.year}}
            </td>
			<td>
                {{car.color}}
            </td>
            <td class="text-right">
                <button type="button" class="btn button-default" ng-click="switchCar(car)">
                    <i class="fa fa-check"></i>
                </button>
                <button type="button" class="btn button-default" ui-sref="car-list.edit({carToEdit: car})">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
                <button type="button" class="btn button-default" ng-click="removeCar(car)">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
          </tr>
		</tbody>
  </table>
</div>