<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>{{'TABLE_HEADER_TYPE' | translate}}</th>
                <th>{{'TABLE_HEADER_DATE' | translate}}</th>
                <th>{{'TABLE_HEADER_ENDS' | translate}}</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reminder in remindersList track by $index">
                <td>
                    {{reminder.type | translate}}
                </td>
                <td>
                    {{reminder.date}}
                </td>
                <td>
                    {{reminder.daysToEnd}}
                </td>
                <td class="text-right">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>