<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>{{'TABLE_HEADER_TYPE' | translate}}</th>
                <th>{{'TABLE_HEADER_START_DATE' | translate}}</th>
                <th>{{'TABLE_HEADER_END_DATE' | translate}}</th>
                <th>{{'TABLE_HEADER_ENDS' | translate}}</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reminder in remindersList track by $index">
                <td>
                    {{reminder.type | translate}}
                </td>
                <td>
                    {{reminder.date}}
                </td>
                <td>
                    {{reminder.endDate | date: 'yyyy-MM-dd'}}
                </td>
                <td>
                    <span ng-if="reminder.daysToEnd >= 0">
                        <span ng-if="reminder.daysToEnd == 1">
                            {{reminder.daysToEnd}} {{'COMMON_ONE_DAY' | translate}}
                        </span>
                        <span ng-if="reminder.daysToEnd > 1">
                            {{reminder.daysToEnd}} {{'COMMON_DAYS' | translate}}
                        </span>
                    </span>
                    <span ng-if="reminder.daysToEnd < 0">
                        {{'COMMON_OUTDATED' | translate}}
                    </span>
                </td>
                <td class="text-right">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>