<h3 class="header-h2" ng-if="$root.currentCar != null">{{$root.currentCar.model}}</h3>
<div>
    <uib-accordion>
        <div uib-accordion-group class="panel-default" is-open="p1.open">
            <uib-accordion-heading>
                <div>
                    {{'ACCORDION_SHOW_REGISTRATION' | translate}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': p1.open, 'glyphicon-chevron-right': !p1.open}"></i>
                </div>
            </uib-accordion-heading>
            <form name="registrationForm" novalidate>
                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <p class="input-group">
                                    <span class="input-group-addon">{{'COMMON_DATE' | translate}}</span>
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="registration.registration_date" is-open="state.open" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn button-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">{{'COMMON_ODOMETER' | translate}}</span>
                                <input type="number" class="form-control" ng-model="registration.registration_odometer" required>
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">{{'COMMON_PLATE' | translate}}</span>
                                <input type="text" class="form-control" maxlength="200" ng-model="registration.plate_no" required>
                            </div>
                            <br>
                            <button class="btn button-default pull-right" ng-click="saveRegistration()" ng-disabled="$root.currentCar == null || !registrationForm.$valid">{{'BUTTON_SAVE' | translate}}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div uib-accordion-group class="panel-default" is-open="p2.open">
            <uib-accordion-heading>
                <div>
                    {{'ACCORDION_SHOW_TECH_REVIEW' | translate}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': p2.open, 'glyphicon-chevron-right': !p2.open}"></i>
                </div>
            </uib-accordion-heading>
            <form name="techReviewForm" novalidate>
                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <p class="input-group">
                                    <span class="input-group-addon">{{'COMMON_DATE' | translate}}</span>
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="techReview.date" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" ng-disabled="true"/>
                                </p>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">{{'COMMON_ODOMETER' | translate}}</span>
                                <input type="text" class="form-control" ng-model="techReview.odometer" ng-disabled="true">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">{{'COMMON_DESCRIPTION' | translate}}</span>
                                <input type="text" class="form-control" maxlength="200" ng-model="techReview.description" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </uib-accordion>
</div>