<ul class="nav nav-justified">
    <li><a ui-sref="home">{{'COMMON_START' | translate}}</a></li>
    <li><a ui-sref="reports">{{'COMMON_REPORTS' | translate}}</a></li>
    <li><a ui-sref="statistics">{{'COMMON_STATISTICS' | translate}}</a></li>
    <li><a ui-sref="reminders">{{'COMMON_REMINDERS' | translate}}</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{'COMMON_LANGUAGE' | translate}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" ng-click="switchLanguage('pl')">
                    <i class="flag-icon flag-icon-pl"></i>
                    {{'COMMON_LANGUAGE_POLISH' | translate}}
                </a>
            </li>
            <li>
                <a href="#" ng-click="switchLanguage('en')">
                    <i class="flag-icon flag-icon-gb"></i>
                    {{'COMMON_LANGUAGE_ENGLISH' | translate}}
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right">
</ul>

