<ul class="nav navbar-nav navbar-right">
    <li>
        <a ui-sref="start" ui-sref-active="main-menu__item-link--active">
            <span class="main-menu__item-link__icon fa fa-list"></span>
            <span uib-tooltip="" tooltip-placement="top" tooltip-popup-delay='500' class="main-menu__item-link__title">START</span>
        </a>
    </li>
    <li>
        <a>
            <i class="fa fa-spinner fa-pulse" id="notify-icon"></i>
            <i class="fa fa-wifi" style="display: none;" uib-tooltip="" tooltip-placement="left" id="ajax-icon"></i>
            grupa
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            profil
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">

        </ul>
    </li>
</ul>